
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}



/* common style  */

.btn {
    background-color: #FD6E0A;
    padding: 19px 35px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
    

/* main css  */

nav {
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    align-items: center;
}

.logo span {
    color: #FD6E0A;
}
.logo {
    font-size: 45px;
    font-weight: 900;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 34%;
    max-width: 390px;
    list-style: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}