
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}



/* common style  */

.btn {
    background-color: #FD6E0A;
    padding: 19px 35px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
    

/* main css  */


/* header section   */

header {
    padding-top: 50px;
    background: url('../images/developer.png'), url('../images/header_bg.png'), #fff8f3;
    background-repeat: no-repeat;
    background-position: left 23px top 38px, right 0 bottom 0;

}

nav {
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    align-items: center;
    margin: 0px auto;
}

.logo span {
    color: #FD6E0A;
}
.logo {
    font-size: 45px;
    font-weight: 900;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 34%;
    max-width: 390px;
    list-style: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}



/* header banner section  */

#banner {
    display: flex;
    margin: 46px 38px 0 230px;
    justify-content: space-between;
    align-items: center;

}

.content h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.content h1 {
    font-size: 85px;
}

.cntent p {
    color: #757575;
    font-size: 18px;
    margin: 20px 0 0 0;
}

.content .btns {
    display: flex;
    gap: 30px;
    margin-top: 30px;

}

